.menu-btn {
  position: absolute;
  z-index: 3;
  right: 35px;
  top: 35px;
  cursor: pointer;
  transition: all 0.5s ease-out; }
  .menu-btn .btn-line {
    width: 28px;
    height: 3px;
    margin: 0 0 5px 0;
    background: #f0f0f0;
    transition: all 0.5s ease-out; }
  .menu-btn.close {
    transform: rotate(180deg); }
    .menu-btn.close .btn-line:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px); }
    .menu-btn.close .btn-line:nth-child(2) {
      opacity: 0; }
    .menu-btn.close .btn-line:nth-child(3) {
      transform: rotate(-45deg) translate(7px, -6px); }

.menu {
  position: fixed;
  top: 0;
  width: 100%;
  visibility: hidden; }
  .menu.show {
    visibility: visible; }
  .menu-brand, .menu-nav {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    float: left;
    width: 50%;
    height: 100vh;
    overflow: hidden; }
  .menu-nav {
    margin: 0;
    padding: 0;
    background: rgba(42, 42, 42, 0.95);
    list-style: none;
    transform: translate3d(0, -100%, 0);
    transition: all 0.5s ease-out; }
    .menu-nav.show {
      transform: translate3d(0, 0, 0); }
  .menu-brand {
    background: rgba(55, 55, 55, 0.95);
    transform: translate3d(0, 100%, 0);
    transition: all 0.5s ease-out; }
    .menu-brand.show {
      transform: translate3d(0, 0, 0); }
    .menu-brand img {
      max-width: 250px;
      border: 3px solid #6abedb;
      border-radius: 50%; }
  .menu .nav-item {
    transform: translate3d(600px, 0, 0);
    transition: all 0.5s ease-out; }
    .menu .nav-item.show {
      transform: translate3d(0, 0, 0); }
    .menu .nav-item.current > a {
      color: #6abedb; }
  .menu .nav-link {
    display: inline-block;
    position: relative;
    font-size: 30px;
    text-transform: uppercase;
    padding: 1rem 0;
    font-weight: 300;
    color: #f0f0f0;
    text-decoration: none;
    transition: all 0.5s ease-out; }
    .menu .nav-link:hover {
      color: #6abedb; }

.nav-item:nth-child(1) {
  transition-delay: 0.1s; }

.nav-item:nth-child(2) {
  transition-delay: 0.2s; }

.nav-item:nth-child(3) {
  transition-delay: 0.3s; }

.nav-item:nth-child(4) {
  transition-delay: 0.4s; }

* {
  box-sizing: border-box; }

body {
  background: #373737;
  color: #f0f0f0;
  min-height: 100%;
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5; }
  body.bg-img {
    background: url(../img/background.jpg);
    background-attachment: fixed;
    background-size: cover; }
    body.bg-img:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background: rgba(55, 55, 55, 0.85); }

small {
  font-size: 0.6rem;
  margin-bottom: 0.5rem; }

.container {
  max-width: 1200px;
  margin: 0 auto; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: 400; }
  h1.lg-heading,
  h2.lg-heading,
  h3.lg-heading {
    font-size: 6rem; }
  h1.sm-heading,
  h2.sm-heading,
  h3.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(60, 60, 60, 0.5); }

a {
  color: #fff;
  text-decoration: none; }

header {
  position: fixed;
  z-index: 2;
  width: 100%; }

.text-secondary {
  color: #6abedb; }

.text-warning {
  color: #fedd56; }

main {
  padding: 4rem;
  min-height: calc(100vh - 60px); }

#home {
  overflow: hidden; }
  #home h1 {
    margin-top: 20vh; }
  #home .icons {
    margin-top: 1rem;
    display: flex;
    flex-direction: row; }
    #home .icons a {
      padding: 0.75rem;
      transition: all 0.5s ease-out;
      display: block; }
      #home .icons a:hover {
        color: #6abedb;
        transform: translateY(-15px) scale(2.5) rotate(10deg); }

.about-info {
  display: grid;
  grid-gap: 30px;
  grid-template-areas: 'bioimage bio bio' 'bioresume bio bio' '. bio bio';
  grid-template-columns: repeat(3, 1fr); }
  .about-info .bio-image {
    grid-area: bioimage;
    margin: auto;
    border: #6abedb 3px solid; }
  .about-info .bio-resume {
    grid-area: bioresume;
    margin: auto;
    border: none; }
  .about-info .bio {
    grid-area: bio;
    font-size: 1.3rem; }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 1px, 0); }
  20%,
  80% {
    transform: translate3d(2px, 0, 2px); }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, -4px, 0); }
  40%,
  60% {
    transform: translate3d(4px, 0, 4px); } }

.skills {
  font-size: 1.3rem; }
  .skills .skill-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    background: #f0f0f0;
    color: #201f1d;
    margin: 1em;
    padding: 0.75em;
    border: 3px solid #6abedb;
    border-radius: 5%; }
    .skills .skill-grid .skill-item {
      text-align: center;
      align-self: center;
      align-items: center; }
      .skills .skill-grid .skill-item .skill-img {
        max-width: '100px';
        height: 'auto'; }
      .skills .skill-grid .skill-item .skill-img:hover {
        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px; }

@keyframes fade-in {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 45px;
  background: #f0f0f0; }
  .timeline ul li::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit; }
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: #f0f0f0;
    color: #201f1d;
    border: 3px solid #6abedb;
    transition: all 0.5s ease-out; }
    .timeline ul li div::before {
      content: '';
      position: absolute;
      bottom: 7px;
      width: 0;
      height: 0;
      border-style: solid; }
    .timeline ul li div h3 {
      color: #201f1d;
      margin: 0;
      font-size: 1.3em;
      font-weight: bold; }
    .timeline ul li div h4 {
      color: #201f1d;
      margin: 0;
      font-size: 1.1em;
      font-weight: bold; }
    .timeline ul li div time {
      display: block;
      font-size: 1.3rem;
      font-weight: bold;
      margin-bottom: 5px; }
  .timeline ul li:nth-child(odd) div {
    left: 45px; }
    .timeline ul li:nth-child(odd) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #f0f0f0 transparent transparent; }
  .timeline ul li:nth-child(even) div {
    left: -439px; }
    .timeline ul li:nth-child(even) div::before {
      right: -15px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent #f0f0f0; }

.project-grid {
  display: grid;
  grid-gap: 0.7rem;
  grid-template-columns: repeat(3, 1fr); }
  .project-grid img {
    width: 100%;
    border: 3px #fff solid; }
    .project-grid img:hover {
      opacity: 0.9;
      border-color: #6abedb;
      transition: all 0.5s ease-out;
      cursor: default;
      transform: scale(1.25); }

.boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 1rem; }
  .boxes div {
    font-size: 2rem;
    border: 3px #fff solid;
    padding: 1.5rem 2.5rem;
    margin-bottom: 3rem;
    transition: all 0.5s ease-out; }
    .boxes div:hover {
      padding: 0.5rem 1.5rem;
      background: #6abedb;
      color: #201f1d; }
      .boxes div:hover span {
        color: #201f1d; }

.btn, .btn-dark, .btn-light, .btn-error {
  display: block;
  padding: 0.5rem 1rem;
  border: 0;
  margin-bottom: 0.3rem; }
  .btn:hover, .btn-dark:hover, .btn-light:hover, .btn-error:hover {
    background: #6abedb;
    color: #201f1d; }

.btn-dark {
  background: black;
  color: #f0f0f0; }

.btn-light {
  background: #b7b7b7;
  color: #201f1d; }

.btn-error {
  background: #b60101;
  color: #f0f0f0; }

#footer {
  padding: 1rem;
  background: #1e1e1e;
  color: #f0f0f0;
  height: 150px; }
  #footer .footer-grid {
    display: grid;
    grid-template-columns: 3fr 2fr 2fr;
    justify-content: center;
    grid-template-areas: 'info address contact'; }
    #footer .footer-grid .footer-info {
      grid-area: info; }
    #footer .footer-grid .footer-address {
      grid-area: address; }
    #footer .footer-grid .footer-contact {
      grid-area: contact;
      align-self: end; }
    #footer .footer-grid ul li {
      list-style-type: none; }
      #footer .footer-grid ul li a {
        transition: all 0.5s ease-out; }
        #footer .footer-grid ul li a:hover {
          color: #6abedb; }
      #footer .footer-grid ul li.footer-icons {
        padding-top: 0.3rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start; }
        #footer .footer-grid ul li.footer-icons a {
          display: block;
          transition: all 0.5s ease-out;
          padding-right: 1.2rem; }
          #footer .footer-grid ul li.footer-icons a:hover {
            transform: translateY(-12px) scale(3) rotate(8deg);
            color: #6abedb;
            overflow: hidden; }

@media screen and (min-width: 1171px) {
  .project-grid {
    grid-template-columns: repeat(4, 1fr); }
  .skills .skill-grid {
    grid-template-columns: repeat(5, 1fr); } }

@media screen and (min-width: 769px) and (max-width: 1170px) {
  .project-grid {
    grid-template-columns: repeat(3, 1fr); }
  .skills .skill-grid {
    grid-template-columns: repeat(4, 1fr); } }

@media screen and (max-width: 768px) {
  main {
    align-items: center;
    text-align: center; }
    main .lg-heading {
      line-height: 1;
      margin-bottom: 1rem; }
  ul.menu-nav,
  div.menu-brand {
    float: none;
    width: 100%;
    min-height: 0; }
    ul.menu-nav.show,
    div.menu-brand.show {
      transform: translate3d(0, 0, 0); }
  .menu-nav {
    height: 70vh;
    transform: translate3d(-100%, 0, 0);
    font-size: 24px; }
  .menu-brand {
    height: 30vh;
    transform: translate3d(100%, 0, 0); }
    .menu-brand img {
      max-width: 150px; }
  .about-info {
    grid-template-areas: 'bioimage' 'bioresume' 'bio' '.';
    grid-template-columns: 1fr; }
  .timeline ul li {
    margin-left: 10px; }
    .timeline ul li div {
      width: 350px; }
    .timeline ul li:nth-child(even) div {
      left: 45px; }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent #f0f0f0 transparent transparent; }
  .project-grid {
    grid-template-columns: repeat(2, 1fr); }
  .skills {
    font-size: 1.1rem; }
    .skills .skill-grid {
      grid-gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      border-radius: 0; }
      .skills .skill-grid .skill-item .skill-img {
        max-width: '85px'; }
  #footer {
    padding: 0.75rem;
    height: 350px;
    text-align: center;
    align-content: center;
    justify-content: start; }
    #footer .footer-grid {
      grid-template-columns: 1fr;
      grid-template-areas: 'info' 'address' 'contact'; }
      #footer .footer-grid ul li.footer-icons {
        margin-top: 0.8rem;
        padding-top: 0.5rem;
        justify-content: space-evenly; }
        #footer .footer-grid ul li.footer-icons a {
          padding-right: 0; } }

@media screen and (max-width: 500px) {
  main {
    padding: 2rem; }
    main #home h1 {
      margin-top: 10vh; }
    main .lg-heading {
      margin-top: 1rem;
      font-size: 5rem; }
  h1,
  h2,
  h3 {
    margin: 0;
    font-weight: 350; }
    h1.lg-heading,
    h2.lg-heading,
    h3.lg-heading {
      font-size: 4rem; }
    h1.sm-heading,
    h2.sm-heading,
    h3.sm-heading {
      margin-bottom: 1.5rem;
      padding: 0.2rem 1rem; }
  .timeline ul li {
    margin-left: 2px; }
    .timeline ul li div {
      width: 220px; }
  .project-grid {
    grid-template-columns: 1fr; }
  .skills .skill-grid {
    grid-template-columns: repeat(2, 1fr); }
  #footer {
    height: 250px; }
    #footer .footer-grid {
      grid-template-areas: 'info' 'contact'; }
      #footer .footer-grid .footer-address {
        display: none; } }
