// Widescreens
@include mediaXl {
    .project-grid {
        grid-template-columns: repeat(4, 1fr);
    }

    .skills {
        .skill-grid {
            grid-template-columns: repeat(5, 1fr);
        }
    }
}

// Desktops & Laptops
@include mediaLg {
    .project-grid {
        grid-template-columns: repeat(3, 1fr);
    }

    .skills {
        .skill-grid {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}

// Tablets & Small Laptops
@include mediaMd {
    main {
        align-items: center;
        text-align: center;

        .lg-heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-nav,
    div.menu-brand {
        float: none;
        width: 100%;
        min-height: 0;

        &.show {
            transform: translate3d(0, 0, 0);
        }
    }

    .menu-nav {
        height: 70vh;
        transform: translate3d(-100%, 0, 0);
        font-size: 24px;
    }

    .menu-brand {
        height: 30vh;
        transform: translate3d(100%, 0, 0);

        img {
            max-width: 150px;
        }
    }

    .about-info {
        grid-template-areas:
            'bioimage'
            'bioresume'
            'bio'
            '.';

        grid-template-columns: 1fr;
    }

    .timeline {
        ul {
            li {
                margin-left: 10px;
                div {
                    width: 350px;
                }

                &:nth-child(even) {
                    div {
                        left: 45px;
                    }
                }

                &:nth-child(even) {
                    div {
                        &::before {
                            left: -15px;
                            border-width: 8px 16px 8px 0;
                            border-color: transparent $white transparent transparent;
                        }
                    }
                }
            }
        }
    }

    .project-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .skills {
        font-size: 1.1rem;

        .skill-grid {
            grid-gap: 20px;
            grid-template-columns: repeat(3, 1fr);
            border-radius: 0;

            .skill-item {
                .skill-img {
                    max-width: '85px';
                }
            }
        }
    }

    #footer {
        padding: 0.75rem;
        height: 300px;
        text-align: center;
        align-content: center;
        justify-content: start;

        .footer-grid {
            grid-template-columns: 1fr;
            grid-template-areas:
                'info'
                'address'
                'contact';
        }
    }
}

// Smartphones
@include mediaSm {
    main {
        padding: 2rem;

        #home h1 {
            margin-top: 10vh;
        }

        .lg-heading {
            margin-top: 1rem;
            font-size: 5rem;
        }
    }

    h1,
    h2,
    h3 {
        margin: 0;
        font-weight: 350;

        &.lg-heading {
            font-size: 4rem;
        }

        &.sm-heading {
            margin-bottom: 1.5rem;
            padding: 0.2rem 1rem;
        }
    }

    .timeline {
        ul {
            li {
                margin-left: 2px;

                div {
                    width: 220px;
                }
            }
        }
    }

    .project-grid {
        grid-template-columns: 1fr;
    }

    .skills {
        .skill-grid {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    #footer {
        height: 250px;

        .footer-grid {
            grid-template-areas:
                'info'
                'contact';

            .footer-address {
                display: none;
            }
        }
    }
}
